{
  "usuarios": [
    {
      "id": "testOwn",
      "nombre": "Yo merequetengues",
      "playlists": [
        "https://www.youtube.com/playlist?list=ID_DE_LA_PLAYLIST_AQUI"
      ]
    }
  ],
  "config_global": {
    "formato_preferido": "opus",
    "bitrate": "128k",
    "intervalo_sincronizacion_horas": 6
  }
}